/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  /* position: relative; */
  color: #2C2C2C;
  height: 100vh;
  background: #fff;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.splashscreen {
  width: 100vw !important;
  height: 100vh;
  background: #036C9F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcomeScreen {
  display: flex;
  width: 400px;
  height: 400px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
}

.welcomeText {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
}

.welcomeDesc {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 30px;
}

.startButton {
  margin-top: 50px;
}

.startButton .btn {
  cursor: pointer;
}

.home {
  background: white;
  height: 100vh;
  width: 800px;
  margin-top: 0;
  display: flex
}
